#body {
    font-family: Arial, sans-serif;
    background-color: #696868;
    color: #f8f9fa;
}

.left{
    color: #f8f9fa;
    font-family: fantasy;
    font-size: 2.4rem;
}
.right{
    color:blue;
    font-family: fantasy;
    font-size: 2.4rem;
}

#Header .nav-link{
font-size: 1.2rem;
}

#Inicio{
    background-image: url('../img/imagen-inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 0 auto;
    height: 95vh;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-name{
    color: black;
}
.title-name h1{
    background-color: rgba(255, 255, 255, 0.432);
}
.left-h1{
    color: #f8f9fa;
    font-family: fantasy;
    font-size: 5rem;
}
.right-h1{
    color:rgb(28, 28, 255);
    font-family: fantasy;
    font-size: 5rem;
}
.title-name p{
    color: #f8f9fa;
    font-family: fantasy;
    font-size: 2rem;
}

#Nosotros{
    display: flex;
    align-content: center;
    align-items: center;
    color: black;
    background-color: #f8f9fa;
    margin: 0.5rem;
    width: 0 auto;
    height: 0 auto;
    text-align: center;
    padding: 3rem;
}
#Nosotros h2{
    font-family: fantasy;
    font-size: 3rem;
    padding: 2rem;
}
#Nosotros p{
    font-size: 1.5rem;
}


#Productos {
    background-color: #343a40;
    color: white;
    text-align: center;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
}
#Productos h2 {
    font-family: fantasy;
    font-size: 3rem;
    padding: 2rem 0;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding:2rem;
}
.product-card {
    background-color: white;
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.img-top-card {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}
.body-card {
    padding: 1rem;
}
.title-card {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    margin: 0 0 0.5rem;
}
.text-card {
    font-size: 1rem;
    color: #343a40;
    margin: 0;
}


#Servicios {
    background-color: #343a40;
    color: white;
    text-align: center;
    margin: 0rem 0.5rem 0rem 0.5rem;
}
#Servicios h2 {
    font-family: fantasy;
    font-size: 3rem;
    padding: 4rem;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 2rem 5rem 2rem;
}

.service-card {
    background-color: white;
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.s-img-top-card {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.s-body-card {
    padding: 1rem;
}

.s-title-card {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40; 
}
.s-text-card {
    font-size: 1rem;
    color: #343a40; 
}


#Redes-Sociales {
    background-color: #f8f9fa;
    color: #343a40; 
    margin: 0.5rem;
}
#Redes-Sociales h2{
    font-family: fantasy;
    font-size: 3rem;
    padding: 2rem;
}
#Redes-Sociales .social-icons {
    margin: 2rem;
}
#Redes-Sociales .social-icons a{
    text-decoration: none;
}
#Redes-Sociales .social-icons a img {
    filter: none;
}

#Ubicacion {
    background-color: #343a40;
    color: #fff;
    padding: 2.5rem 0;
    margin: 0.5rem;
}
#Ubicacion h2 {
    font-family: fantasy;
    font-size: 3rem;
    padding: 2rem;
}
#Ubicacion a {
    color: #fff;
    text-decoration: none;
}
#Ubicacion a:hover {
    text-decoration: underline;
}
#Ubicacion p {
    color: #fff;
}

.footer {
    color: #fff;
    background: linear-gradient(to bottom, #fff, #343a40);
    color: #fff; 
    padding: 2rem 0;
}
.footer a {
    color: #3593f7;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

